# Node.js dependencies
node_modules/

# Build output
build/
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp

# IDE specific files
.idea/
.vscode/
.DS_Store

# React specific
*.css.map
*.js.map